body {
    width: 1440px;
    /* height: ; */
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;

}

/**Head Section Start**/
.head-section {
    height: 669px;
    background-image: url(images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 150px;
}

/**CSS for linear gradient**/
.grdnt {
    height: 669px;
    width: 100%;
    background: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%);
}

.first-div {
    color: #FFFFFF;
    padding-top: 174px;
    padding-left: 200px;
    width: 70%;
    margin: 0;
    text-align: center;
}

h1 {
    font-size: 65px;
    font-weight: 700;
    line-height: 25px;
}

h2 {
    font-family: 'Inter';

    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    text-align: center;
}

.donate-now-button {
    background: #FF5959;
    border-radius: 5px;
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    width: 160px;
    height: 56px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 12px;
    gap: 8px;
    margin: auto;
    font-size: 20px;

}

/**Donate Funds**/
.donate-section {
    height: 669px;
}

.donate-funds {

    background: #FFFFFF;
}

.donate-3 {
    margin: auto;
    display: block;
    height: 170px;

    text-align: center;

}

.funds-raise {
    margin: auto;
    display: flex;
    height: 170px;
    margin-left: 300px;
    text-align: center;

}

.fund-amount {
    height: 55px;
    width: 135px;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.02);
    border-radius: 6px;
    font-size: 2.1rem;
    font-weight: 700;
    color: #777;
    margin-left: 20px;
    padding: 43px 22px 44px 22px;
}

.fund-amount:hover {
    background: #ffa2a2;
    color: #fefefe;
    border: 2px solid #ed4f4f;
    border-radius: 5px;
}
/**Plan section start**/
.plan-section {
    height: 669px;
    background-color: #FFFFFF;
    text-align: center;
}
.plan-category{
    width: 100%;
    margin: auto;
    margin-left: 333px;
   
}

.one-third{
    width: 120px;
    height: 120px;
    background: #ffa2a2;
    margin:auto;
    display: flex;
    
}

/**Subscription section**/
/* .subscription-section{
    width: 300px;
    background-color: #dedddd;
    border: none;
    padding: 10px;
    border-radius: 5px 0 0 5px;
}
.s-btn a{
    text-decoration: none;
    color: white;
}
.s-btn{
    padding: 0 30px;
    background-color: #FF5959;
    border: none;
    border-radius: 0 5px 5px 0;
}
.subscribe-btn{
    padding: 60px 80px;
    width: 40%;
    background-color: #fff4d6;
    margin: 0 auto;
    border-radius: 10px;
}
.subscription-section p{
    margin: 30px auto;
} */